.blue-bg
  position: fixed
  background: url(https://www.mangoafricansafaris.com/sites/www.mangoafricansafaris.com/files/styles/original/public/gallery/chumbe_bungallow_and_forest_overview_oskar_henriksson.jpg?itok=UXkgUC5y)
  background-size: cover
  background-color: #58aff6
  top: 0
  height: 400px
  width: 100vw
  z-index: -1
  overflow-x: hidden
  .content
  position: absolute
  top: 0
  margin: 250px 10vw
  max-width: 60vw
  background-color: transparent
    
.shadow
  box-shadow: -2px -5px 5px 0px rgba(0,0,0,0.3)
